* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
}

.wrapper {
    width: 370px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
    background: #16423c;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    font-weight: 500;
}

.wrapper .form {
    max-height: 350px;
    overflow-y: auto;
    padding: 20px;
}

.wrapper .form .inbox {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.wrapper .form .inbox .icon {
    width: 40px;
    height: 40px;
    background: #16423c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 10px;
}

.wrapper .form .inbox .msg-header {
    max-width: 230px;
    background: #eaeaea;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    word-wrap: break-word;
}

.wrapper .form .user-inbox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end; /* Menempatkan chat di sisi kanan */
    margin-bottom: 10px;
}

.wrapper .form .user-inbox .icon {
    order: 2; /* Pindahkan icon ke sisi kanan */
    margin-left: 10px; /* Beri jarak antara pesan dan icon */
    margin-right: 0;
}

.wrapper .form .user-inbox .msg-header {
    background: #16423c;
    color: white;
    border-radius: 10px;
    max-width: 230px;
    padding: 10px;
    word-wrap: break-word;
    text-align: right; /* Menyelaraskan teks ke kanan */
}

.wrapper .typing-field {
    padding: 15px;
    background: #efefef;
    border-top: 1px solid #ddd;
    border-radius: 0 0 10px 10px;
}

.wrapper .typing-field .input-data {
    display: flex;
    justify-content: space-between;
}

.wrapper .typing-field .input-data input {
    width: 80%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.wrapper .typing-field .input-data button {
    width: 15%;
    background: #16423c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.wrapper .typing-field .input-data button:hover {
    background: #0056b3;
}
